.popup__close { 
  width: 30px;
  transition: opacity 0.3s;
  position: absolute;
  top: -40px;
  right: -30px;
  transition: opacity 0.3s;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    top: -30px;
    right: 0;
  }
}