.popup__profession {
  margin: 0;
  padding: 0;
  width: 358px;
  margin-left: 36px;
  border: 0;
  margin-bottom: 36px;
  border-bottom: 1px solid #bcbcc4;
  padding-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__profession::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__profession:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcc4;
}
  
.popup__profession:focus::placeholder {
  color: transparent;
}

@media screen and (max-width: 768px) {
  .popup__profession {
    width: 238px;
    margin-left: 22px;
    margin-bottom: 45px;
  }
}