.photo-card {
  max-width: 880px;
  padding: 0;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
}

@media screen and (max-width: 1024px) {
  .photo-card {
    max-width: 96%;
  }
}

@media screen and (max-width: 450px) {
  .photo-card {
    max-width: 92%;
    gap: 20px;
  }
}